@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

:root {
    --text: #fad8c9;
    --accent: #e2b82d;
}

:root[data-theme="light"] {
    --background: #B9282F;
    --primary: #164950;
}

:root[data-theme="dark"] {
    --background: #164950;
    --primary: #B9282F;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Roboto", sans-serif;
    transition: background-color .15s linear;
}

header {
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    height: fit-content;
    font-size: 1.2em;
}

h1 {
    font-family: "Poppins", monospace;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    cursor: pointer;
    color: var(--accent);
}

#theme-switch {
    --button-size: 7vw;
    --button-offset: calc(var(--button-size) / -2);

    position: absolute;
    border-width: 0px;
    border-radius: 100%;
    background-color: var(--primary);
    color: var(--background);
    height: var(--button-size);
    width: var(--button-size);
    left: var(--button-offset);
    top: var(--button-offset);
    min-width: 40px;
    min-height: 40px;
    transition: scale 0.25s;
}

#theme-switch:hover {
    scale: 2;
}

.navigation-bar {
    height: 50px;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    font-size: min(3vw, 1em);
}

.intro {
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: var(--text);
    display: flex;
    flex-direction: column;
    user-select: none;
    text-align: center;
}

.intro h1 {
    font-size: min(13vw, 33em);
    text-wrap: nowrap;
    margin: auto;
    transform: scale(1, 1.6);
    letter-spacing: -0.075em;
}

.intro p {
    font-weight: 200;
    margin: auto;
    font-size: min(4vw, 3em);
}

.scroller {
    max-width: 100%;
    overflow: hidden;
}

.scroller-inner {
    --gap: 0.5rem;
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.scroller-inner * {
    border-radius: 5px;
}

.scroller-inner img {
    height: 50vh;
    max-height: 80vw;
}

.scroller-inner span {
    background-color: var(--accent);
    color: var(--background);
    padding: 10px;
}

[data-animated="true"] .scroller-inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --animation-direction: forwards;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - calc(var(--gap) / 2)));
    }
}