:root {
    --textColor: #dfdfdf;
    --backgroundColor: #0f0f0f;
    --accentColor: #70cf28;
    --fontFamily: "Share Tech Mono", monospace;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: var(--fontFamily);
}

#no-deco-link {
    text-decoration-line: none;
    color: var(--textColor);
    font-style: italic;

    transition: all(.5s);
}

#no-deco-link:hover {
    color: var(--accentColor);
}

.nav-bar {
    border-bottom: solid 1px white;
    background-color: rgba(10, 10, 10, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    height: 60%;

    transition: all .2s;
}

.logo:hover {
    transform: scale(1.2);
}

.socials {
    margin-left: auto;
    text-align: center;
}

.socials a {
    transition: all 0.5s;
}

.socials a:hover {
    transform: scale(1.2);
}

.intro {
    text-align: center;
    margin-top: 5%;
}

.game-collection {
    margin: auto;
    width: 500px;
}

.game-preview {
    border: solid 1px var(--textColor);
    margin: auto;
    width: 300px;
}

.game-preview .game-image img {
    width: 100%;
}

.game-preview .game-info {
    text-align: center;
    margin-top: -1em;
    margin-bottom: -.75em;
}

.game-preview .game-info .game-title {
    font-size: 1.25em;
}

.game-preview .game-info .game-description {
    margin-top: -1em;
}